textarea {
    width: 100%;
    height: 20vh;
    direction: auto;
    unicode-bidi: plaintext;
    border: 5px solid;
    box-sizing: border-box;
    border-radius: 5px;
}

textarea.healthy {
    border: 5px solid;
    box-sizing: border-box;
    border-color: green;
}

.green-lbl {
    color: green;
}

.red-lbl {
    color: red;
}

.blue-lbl {
    color: blue;
}

.unhealthy:enabled {
    border: 5px solid;
    box-sizing: border-box;
    border-color: red;
}

.child {
    border: 5px solid;
    box-sizing: border-box;
    border-color: blue;
}

.coping {
    border: 5px solid;
    box-sizing: border-box;
    border-color: brown;
}



.full-width {
    width: 100%;
}


#up-image {
    width: 30px;
    position: fixed;
    bottom: 30px;
    /* left: 20px; */
    left: 50%;
    transform: translateX(-50%);
    /* display: none; */
}

footer {
    background-color: pink;
    color: black;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#footer-div {
    height: fit-content;
}
