html,body{
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}


.row{
    border: 1px solid;
    width: 100%;
    background-color: palegoldenrod;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
}

textarea{
    width: 98%;
    height: 10vh;
    direction: auto;
    unicode-bidi: plaintext;
    font-family: sans-serif;
}

textarea, select, input, button{
    font-size: inherit;
    font-weight: inherit;

}

textarea.healthy{
    background-color: green;
    color: white;
}

.unhealthy:enabled{
    background-color: red;
    color: white;
}

.child{
    background-color: blue;
    color: white;
}

#copingMechanismOptionDelete{
    color: red;
}

label{
    font-size: medium;
}
